@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
    @apply bg-white text-dark-grey;
}

.dark body {
    @apply text-white bg-dark-bg;
}

h1 {
    @apply text-lg font-bold;
}

h2 {
    @apply text-base font-bold;
}

h3 {
    @apply text-base font-semibold;
}

h4 {
    @apply text-sm font-semibold md:text-base;
}

input, select, textarea {
    @apply transition-all border rounded border-border focus:outline-none focus:border-primary;
}

input::placeholder,
textarea::placeholder {
    @apply text-medium-grey;
}

select option:disabled {
    @apply text-medium-grey;
}

.card {
    @apply bg-white border rounded drop-shadow;
}

@media (min-width: 768px) {
    .md\:card {
        @apply bg-white border rounded drop-shadow;
    }
}

.responsive-padding {
    @apply px-6 py-4 md:px-10;
}

.responsive-margin {
    @apply mx-6 my-4 md:my-8 md:mx-10 lg:my-12 lg:mx-16;
}

.responsive-navbar-padding {
    @apply px-6 py-4 md:px-10;
}

@media (min-width: 768px) {
    .responsive-navbar-padding {
        @apply p-0; /* No padding */
    }
}

.text-primary svg {
    color: #9145B6; /* replace with your actual primary color code */
}

/* reset */
button {
    all: unset;
  }
  
  .AlertDialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .AlertDialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .AlertDialogContent:focus {
    outline: none;
  }
  
  .AlertDialogTitle {
    margin: 0;
    color: var(--mauve-12);
    font-size: 17px;
    font-weight: 500;
  }
  
  .AlertDialogDescription {
    margin-bottom: 20px;
    color: var(--mauve-11);
    font-size: 15px;
    line-height: 1.5;
  }
  
  .Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
  }
  .Button.violet {
    background-color: white;
    color: var(--violet-11);
    box-shadow: 0 2px 10px var(--black-a7);
  }
  .Button.violet:hover {
    background-color: var(--mauve-3);
  }
  .Button.violet:focus {
    box-shadow: 0 0 0 2px black;
  }
  .Button.red {
    background-color: var(--red-4);
    color: var(--red-11);
  }
  .Button.red:hover {
    background-color: var(--red-5);
  }
  .Button.red:focus {
    box-shadow: 0 0 0 2px var(--red-7);
  }
  .Button.mauve {
    background-color: var(--mauve-4);
    color: var(--mauve-11);
  }
  .Button.mauve:hover {
    background-color: var(--mauve-5);
  }
  .Button.mauve:focus {
    box-shadow: 0 0 0 2px var(--mauve-7);
  }
  
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }